<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937446521112-luae546e373f95c95jgaq2m38ihiqt0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937446521112-luae546e373f95c95jgaq2m38ihiqt0e</string>
	<key>API_KEY</key>
	<string>AIzaSyD8uGDxS2TMxh32wKz-LGOibFvnX6qXW5g</string>
	<key>GCM_SENDER_ID</key>
	<string>937446521112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.subscript</string>
	<key>PROJECT_ID</key>
	<string>subscript-1194b</string>
	<key>STORAGE_BUCKET</key>
	<string>subscript-1194b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937446521112:ios:cbb2a2e47ba30a0683866d</string>
</dict>
</plist>